<!DOCTYPE html>
<html>

<head>
  <title>Backend Challenges | Free Code Camp</title>
  <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>FreeCodeCamp Timestamp API</h1>
    <h3>by <a href="https://github.com/iamstevendao">Steven Dao</a></h3>
    <p>Handle the GET request, return the parsed time and unix time</p>
    <p>Usage:</p>
    <ul>
      <li><a href="https://iamsd-timestamp-api.glitch.me/today">Get today</a></li>
      <li><a href="https://iamsd-timestamp-api.glitch.me/December%2012,%202015">Get "December 12, 2015"</li>
      <li><a href="https://iamsd-timestamp-api.glitch.me/1509683537846">Get "1509683537846"</a></li>
    </ul>
    <p>Or change the link to:
      <code>https://iamsd-timestamp-api.glitch.me/[your-time]</code>
    </p>
  </div>
</body>

</html>