doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= 'Backend Challenges | Free Code Camp'
    link(rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel='stylesheet', href='/public/style.css')
  body
    .container
      h1 FreeCodeCamp Timestamp API
      h3 by #[a(href="https://github.com/iamstevendao") Steven Dao]
      p Handle the GET request, return the parsed time and unix time
      p Usage:
      ul
        li #[a(href="https://iamsd-timestamp-api.glitch.me/today") Get today]
        li #[a(href="https://iamsd-timestamp-api.glitch.me/December%2012,%202015") Get "December 12, 2015"]
        li #[a(href="https://iamsd-timestamp-api.glitch.me/1509683537846") Get "1509683537846"]

      p Or change the link to: #[code https://iamsd-timestamp-api.glitch.me/[your-time]]
  